.cover__subtitle {
    margin: 0;
    max-width: 360px;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-rendering: optimizeLegibility;
  }

  @media screen and (max-width: 600px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 1.14;
    }
}
