.header {
    font-family: 'Inter', Arial, sans-serif;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px 56px;
    max-width: 1184px;
}

@media screen and (max-width: 1279px) {
    .header {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

