.lead__caption{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 8px 0 0;
    align-self: flex-start;
  }
  
  @media screen and (max-width: 768px) {
    .lead__caption {
      margin-left: 24px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .lead__caption {
      margin-left: 16px;
    }
  }