.place__url-heading {
    color: #AAA;
    max-width: 456px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 12px;
    margin-top: 0px;
    margin-left: 0px;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}